body{
    background-color: grey;
}

/* Calculator container */
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #333;
    border: 3px solid #000;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
}

/* Output field spans 3 columns */
#output {
    grid-column: 1 / 4;
    padding: 20px;
    font-size: 24px;
    text-align: right;
    background-color: #222;
    color: #fff;
    border: 2px solid #555;
    border-radius: 5px;
}

/* Number buttons */
.number {
    background-color: #555;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.number:hover {
    background-color: #777;
}

/* Operator buttons */
.operator {
    background-color: #e8790a;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operator:hover {
    background-color: #e9a84d;
}

.operator.active {
    background-color: #a56503;
}

/* Clear button */
.clear {
    grid-column: 4 / 5;
    background-color: #981e1e;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.clear:hover {
    background-color: #e6574c;
}

/* Equals button */
.equals {
    background-color: #087a0c;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.equals:hover {
    background-color: #418044;
}

/* Decimal button */
.decimal {
    background-color: #555;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.decimal:hover {
    background-color: #777;
}